@model SuperShop.Model.Product

@{
}
<html>
    <body>
        <div class="row">
            <div class="col-md-4">@Model.ProductName</div>
            <div class="col-md-4">@Model.UnitPrice Ft</div>
            <div class="col-md-4">@Model.UnitsInStock db</div>
        </div>
    </body>
</html>