@model List<SuperShop.Model.Product>

<html>
    <body>      
        @foreach (var product in Model)
        {
            <div class="row">
                <div class="col-md-4">@product.ProductName</div>
                <div class="col-md-4">@product.UnitPrice Ft</div>
                <div class="col-md-4">@product.UnitsInStock db</div>
            </div>
        }
    </body>
</html>