@model SuperShop.Web.Models.Shared.IndexCategoryViewModel

<a asp-route="ProductsByCategoryRoute" asp-route-categoryId="@Model.CategoryId">
    <div class="col-md-3">
        <div>
            <base64-jpeg image-data="@Model.CategoryImage"></base64-jpeg>
        </div>
        <div>
            <label>@Model.CategoryName</label>
        </div>
    </div>
</a>